In [1]:
import imblearn
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, classification_report
from sklearn.metrics import confusion_matrix

In [2]:
data=pd.read_csv(r"C:\Users\Quaresma\Documents\IRONHACK\Labs\9 lab-predictions-logistic-regression\Invistico_Airline.csv")

In [3]:
data

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [4]:
#standardizing the columns on both data frames so they are organized the same way
col=[data.columns[i].lower().replace(" ","_") for i in range(len(data.columns))]
data.columns=col

In [5]:
data.dtypes

satisfaction                          object
customer_type                         object
age                                    int64
type_of_travel                        object
class                                 object
flight_distance                        int64
seat_comfort                           int64
departure/arrival_time_convenient      int64
food_and_drink                         int64
gate_location                          int64
inflight_wifi_service                  int64
inflight_entertainment                 int64
online_support                         int64
ease_of_online_booking                 int64
on-board_service                       int64
leg_room_service                       int64
baggage_handling                       int64
checkin_service                        int64
cleanliness                            int64
online_boarding                        int64
departure_delay_in_minutes             int64
arrival_delay_in_minutes             float64
dtype: object

In [6]:
data.arrival_delay_in_minutes.isna().sum()

393

In [10]:
data['arrival_delay_in_minutes'] = data['arrival_delay_in_minutes'].fillna(0.0)

In [11]:
data.arrival_delay_in_minutes.isna().sum()

0

In [12]:
data['satisfaction'].unique()

array(['satisfied', 'dissatisfied'], dtype=object)

In [13]:
data['customer_type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [14]:
data['type_of_travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [15]:
data['class'].unique()

array(['Eco', 'Business', 'Eco Plus'], dtype=object)

In [16]:
data['satisfaction']=np.where(data['satisfaction']== 'satisfied',1,0).astype(int)

data= pd.get_dummies(data, columns=['customer_type','type_of_travel','class'])

data

,satisfaction,age,flight_distance,seat_comfort,departure/arrival_time_convenient,food_and_drink,gate_location,inflight_wifi_service,inflight_entertainment,online_support,...,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes,customer_type_Loyal Customer,customer_type_disloyal Customer,type_of_travel_Business travel,type_of_travel_Personal Travel,class_Business,class_Eco,class_Eco Plus
0,1,65,265,0,0,0,2,2,4,2,...,2,0,0.0,1,0,0,1,0,1,0
1,1,47,2464,0,0,0,3,0,2,2,...,2,310,305.0,1,0,0,1,1,0,0
2,1,15,2138,0,0,0,3,2,0,2,...,2,0,0.0,1,0,0,1,0,1,0
3,1,60,623,0,0,0,3,3,4,3,...,3,0,0.0,1,0,0,1,0,1,0
4,1,70,354,0,0,0,3,4,3,4,...,5,0,0.0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,1,29,1731,5,5,5,3,2,5,2,...,2,0,0.0,0,1,0,1,0,1,0
129876,0,63,2087,2,3,2,4,2,1,1,...,1,174,172.0,0,1,0,1,1,0,0
129877,0,69,2320,3,0,3,3,3,2,2,...,2,155,163.0,0,1,0,1,0,1,0
129878,0,66,2450,3,2,3,2,3,2,2,...,2,193,205.0,0,1,0,1,0,1,0
129879,0,38,4307,3,4,3,3,3,3,3,...,3,185,186.0,0,1,0,1,0,1,0

In [17]:
data['satisfaction'].unique()

array([1, 0])

In [18]:
data.groupby('satisfaction').count()

,age,flight_distance,seat_comfort,departure/arrival_time_convenient,food_and_drink,gate_location,inflight_wifi_service,inflight_entertainment,online_support,ease_of_online_booking,...,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes,customer_type_Loyal Customer,customer_type_disloyal Customer,type_of_travel_Business travel,type_of_travel_Personal Travel,class_Business,class_Eco,class_Eco Plus
satisfaction,,,,,,,,,,,,,,,,,,,,,
0,58793,58793,58793,58793,58793,58793,58793,58793,58793,58793,...,58793,58793,58793,58793,58793,58793,58793,58793,58793,58793
1,71087,71087,71087,71087,71087,71087,71087,71087,71087,71087,...,71087,71087,71087,71087,71087,71087,71087,71087,71087,71087

In [19]:
# Define the dependent or independent variables
X= data.drop('satisfaction', axis = 1)
y= data['satisfaction']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42, test_size= 0.2)


LR= LogisticRegression()
LR.fit(X_train,y_train)
LR.score(X_test,y_test)

#The result is the percentage os erros that can be explain, Its the ACCURACY!!!!!!!

pred= LR.predict(X_test) #here is predicting Y
pred
print("Precision is:", precision_score(y_test,pred))
print("Recall is:", recall_score(y_test,pred))
print("F1 is:", f1_score(y_test,pred))

print("Classification report")
print(classification_report(y_test,pred))

Precision is: 0.7413551103738676
Recall is: 0.8125305922662751
F1 is: 0.7753127606338617
Classification report
              precision    recall  f1-score   support

           0       0.74      0.65      0.69     11675
           1       0.74      0.81      0.78     14301

    accuracy                           0.74     25976
   macro avg       0.74      0.73      0.73     25976
weighted avg       0.74      0.74      0.74     25976

### EVALUATE THE RESULTS

- Precision:Out of the ones I predict that are satisfied, only 74% were true
- Recall: out of every one is satisfied I predicted 81%