In [179]:
import pandas as pd
import numpy as np
import imblearn
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import precision_score #precision metrics
from sklearn.metrics import recall_score #recall metrics
from sklearn.metrics import f1_score #f1 metrics
from sklearn.metrics import classification_report

In [180]:
airlain = pd.read_csv("//Users/giacomorossini/Desktop/IRONHACK/Laboratory/LAB9/lab-predictions-logistic-regression/Invistico_Airline.csv")
airlain

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [181]:
def transformation (df1):
    cols=[]
    for i in range(len(df1.columns)):
        cols.append(df1.columns[i].lower().replace(' ','_'))
    df1.columns=cols
    
transformation (airlain)

In [182]:
airlain.groupby('satisfaction').count()

,customer_type,age,type_of_travel,class,flight_distance,seat_comfort,departure/arrival_time_convenient,food_and_drink,gate_location,inflight_wifi_service,...,online_support,ease_of_online_booking,on-board_service,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes
satisfaction,,,,,,,,,,,,,,,,,,,,,
dissatisfied,58793,58793,58793,58793,58793,58793,58793,58793,58793,58793,...,58793,58793,58793,58793,58793,58793,58793,58793,58793,58605
satisfied,71087,71087,71087,71087,71087,71087,71087,71087,71087,71087,...,71087,71087,71087,71087,71087,71087,71087,71087,71087,70882

In [183]:
#filling 'Arrival Delay in Minutes'
airlain['arrival_delay_in_minutes']=airlain['arrival_delay_in_minutes'].fillna(airlain['arrival_delay_in_minutes'].mean())

In [184]:
categorical = airlain.select_dtypes(exclude = np.number)
numerical = airlain.select_dtypes(include = np.number)
one_hot = pd.get_dummies(categorical)
one_hot=one_hot.drop('satisfaction_dissatisfied', axis=1)
one_hot.rename(columns = {'satisfaction_satisfied':'satisfaction'}, inplace = True)
airlain_final = pd.concat([one_hot , numerical], axis=1)

In [185]:
transformation(airlain_final)

In [186]:
X = airlain_final.drop('satisfaction', axis =1)
Y = airlain_final['satisfaction']

from sklearn.model_selection import train_test_split

X_train , X_test , Y_train , Y_test = train_test_split (X , Y , random_state=42, test_size = 0.2) #random_state could be optimaze

LR = LogisticRegression()
LR.fit(X_train,Y_train)
LR.score(X_test,Y_test)

0.7591623036649214

In [187]:
from sklearn.metrics import precision_score #precision metrics
from sklearn.metrics import recall_score #recall metrics
from sklearn.metrics import f1_score #f1 metrics
from sklearn.metrics import classification_report #classification metrics


pred = LR.predict(X_test)

print("Precision is : ", precision_score(Y_test, pred))
print("Recall is : ", recall_score(Y_test, pred))
print("F1 is : ", f1_score(Y_test, pred))

print(classification_report(Y_test, pred))

Precision is :  0.753961740008839
Recall is :  0.8350465002447381
F1 is :  0.792435301924353
              precision    recall  f1-score   support

           0       0.77      0.67      0.71     11675
           1       0.75      0.84      0.79     14301

    accuracy                           0.76     25976
   macro avg       0.76      0.75      0.75     25976
weighted avg       0.76      0.76      0.76     25976

In [188]:
from sklearn.metrics import confusion_matrix

confusion_matrix(Y_test, pred)

array([[ 7778,  3897],
       [ 2359, 11942]])

In [189]:
airlain_final.corr().sort_values('satisfaction')
column_drop = ['type_of_travel_personal_travel','arrival_delay_in_minutes', 'departure_delay_in_minutes', 'class_eco_plus',
               'flight_distance','departure/arrival_time_convenient', 'gate_location','type_of_travel_business_travel',
               'age','food_and_drink']

In [190]:
airlain_final = airlain_final.drop(column_drop, axis=1)
airlain_final

,satisfaction,customer_type_loyal_customer,customer_type_disloyal_customer,class_business,class_eco,seat_comfort,inflight_wifi_service,inflight_entertainment,online_support,ease_of_online_booking,on-board_service,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding
0,1,1,0,0,1,0,2,4,2,3,3,0,3,5,3,2
1,1,1,0,1,0,0,0,2,2,3,4,4,4,2,3,2
2,1,1,0,0,1,0,2,0,2,2,3,3,4,4,4,2
3,1,1,0,0,1,0,3,4,3,1,1,0,1,4,1,3
4,1,1,0,0,1,0,4,3,4,2,2,0,2,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,1,0,1,0,1,5,2,5,2,2,3,3,4,4,4,2
129876,0,0,1,1,0,2,2,1,1,3,2,3,3,1,2,1
129877,0,0,1,0,1,3,3,2,2,4,4,3,4,2,3,2
129878,0,0,1,0,1,3,3,2,2,3,3,2,3,2,1,2
129879,0,0,1,0,1,3,3,3,3,4,5,5,5,3,3,3

In [191]:
X = airlain_final.drop('satisfaction', axis =1)
Y = airlain_final['satisfaction']

from sklearn.model_selection import train_test_split

X_train , X_test , Y_train , Y_test = train_test_split (X , Y , random_state=42, test_size = 0.2) #random_state could be optimaze

LR = LogisticRegression()
LR.fit(X_train,Y_train)
LR.score(X_test,Y_test)

0.820757622420696

In [192]:
from sklearn.metrics import precision_score #precision metrics
from sklearn.metrics import recall_score #recall metrics
from sklearn.metrics import f1_score #f1 metrics
from sklearn.metrics import classification_report #classification metrics


pred = LR.predict(X_test)

print("Precision is : ", precision_score(Y_test, pred))
print("Recall is : ", recall_score(Y_test, pred))
print("F1 is : ", f1_score(Y_test, pred))

print(classification_report(Y_test, pred))

Precision is :  0.8342227458590339
Recall is :  0.8416893923501853
F1 is :  0.8379394361294814
              precision    recall  f1-score   support

           0       0.80      0.80      0.80     11675
           1       0.83      0.84      0.84     14301

    accuracy                           0.82     25976
   macro avg       0.82      0.82      0.82     25976
weighted avg       0.82      0.82      0.82     25976

In [193]:
from sklearn.metrics import confusion_matrix

confusion_matrix(Y_test, pred)

array([[ 9283,  2392],
       [ 2264, 12037]])